{
  "logging": {
    "console": {
      "log_level": "<%- app_gateway_log_level %>",
      "log_keys": <%- app_gateway_log_keys %>,
      "color_enabled": true
    }
  },
  "interface": ":<%- app_gateway_public_port %>",
  "adminInterface": ":<%- app_gateway_admin_port %>",
  "databases": {
      "<%- app_data_bucket %>": {
          "server":"http://<%- app_couchbase_hostname %>",
          "sync": <%- manuscripts_sync_fn %>,
          "send_www_authenticate_header": false,
          "use_views": false,
          "password": "<%- app_couchbase_rbac_password %>",
          "allow_conflicts": false,
          "num_index_replicas": <%- app_index_replica_count %>,
          "session_cookie_domains": {
            <%- app_allowed_cors_origins.split(';').map(x => `"${x}": "${app_projects_gateway_cookie_domain}"`).join(',\n') %>
          },
          "import_docs": <%- app_enable_shared_bucket_access ? true : false %>
      },
      "<%- app_derived_data_bucket %>": {
          "server":"http://<%- app_couchbase_hostname %>",
          "users": {"GUEST": {"disabled": true, "admin_channels": []}},
          "sync": <%- derived_data_sync_fn %>,
          "send_www_authenticate_header": false,
          "use_views": false,
          "password": "<%- app_couchbase_rbac_password %>",
          "num_index_replicas": <%- app_index_replica_count %>,
          "session_cookie_domains": {
            <%- app_allowed_cors_origins.split(';').map(x => `"${x}": "${app_projects_gateway_cookie_domain}"`).join(',\n') %>
          },
          "import_docs": <%- app_enable_shared_bucket_access ? true : false %>,
          "enable_shared_bucket_access": <%- app_enable_shared_bucket_access ? true : false %>
      },
      "<%- app_discussions_bucket %>": {
        "server":"http://<%- app_couchbase_hostname %>",
        "users": {"GUEST": {"disabled": true, "admin_channels": []}},
        "sync": <%- discussions_sync_fn %>,
        "send_www_authenticate_header": false,
        "use_views": false,
        "password": "<%- app_couchbase_rbac_password %>",
        "num_index_replicas": <%- app_index_replica_count %>,
        "session_cookie_domains": {
        <%- app_allowed_cors_origins.split(';').map(x => `"${x}": "${app_projects_gateway_cookie_domain}"`).join(',\n') %>
        },
        "import_docs": <%- app_enable_shared_bucket_access ? true : false %>,
        "enable_shared_bucket_access": <%- app_enable_shared_bucket_access ? true : false %>
    }
  },
  "CORS": {
      "Origin": [<%- app_allowed_cors_origins.split(';').map(x => `"${x}"`).join(',') %>],
      "LoginOrigin": [<%- app_allowed_cors_origins.split(';').map(x => `"${x}"`).join(',') %>],
      "Headers": ["Content-Type"],
      "MaxAge": 17280000
  }
}
